@import "variables";

.header{
    background-image: url(../desktop/image-header.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
}

.nav{
    display: flex;
    padding: 1.6% 2%;


    &__logo{
        margin-right: auto;
        fill:purple ;
        scale:.7;
    }

    &__list{
         display: flex;
        width: 19rem;
        justify-content: space-between;
        font-size: .7rem;
        align-items: center;
        grid-column: full-start / full-end;


        @media only screen and (max-width:$bp-large){
            display: none;
        } 

        &__item,
        &__item:link,
        &__item:visited{
            text-decoration: none;
            color: white;
            font-family: $font-family2;
            font-weight: 600;
            position: relative;
            padding: .3rem;

            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                background-color: white;
                width: 100%;  
                transform: scale(0);
                transition: all .4s;
                height: 3px;
            }

            &:hover::after{
                transform: scale(1);
            }        
        }

        &__button{
            background-color: white;
            color: black;
            font-family: $font-family1;
            border-radius: 3rem;
            padding: .3rem .8rem;
            text-decoration: none;
            font-weight: 700;
            transition: all .4s;

            &:hover{
                color: white;
                background-color: rgb(138, 210, 238);
            }
        }
    }
}

.title{
    font-size: 2rem;
    margin: 5rem auto;
    margin-bottom: 30%;
    font-weight: 800;
    color: white;
    font-family: $font-family1;
    letter-spacing: .35rem;

    @media only screen and (max-width:$bp-large){
        margin-top: 40%;
        font-size: 4rem;
    } 

}

.arrow{
    transform: scale(.8);
    color: white;
    margin-top:-24% ;  
    animation: arrowmove 6s  2s infinite;

    @media only screen and (max-width:$bp-large){
        margin-top: -40%;
    } 

    @media only screen and (max-width:$bp-small){
        margin-top: 40%;
    } 
}


@keyframes arrowmove{
    0%{
        transform: translateY(0);
        transform: scale(.8);
    } 
    60%{
        transform: translateY(0);
        scale: .8;
    }
    70%{
        transform: translateY(3rem);
        scale:(.8);
    } 
    80%{
        transform: translateY(1rem);
        scale:(.8);
    }
    90%{
        transform: translateY(3rem);
        scale:(.8);
    }
    100%{
        transform: translateY(0);
        scale:(.8);
    }
}