.testimonies{
    text-align: center;
    padding:6.6rem 6rem;
    grid-column: full-start / full-end;

}

.stories{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap:1rem ;
}

.story{
    display: grid;
    grid-template-rows: repeat(3, min-content);
    grid-gap: 2rem;
    justify-items: center;

    &__img{
        width: 2rem;
        border-radius: 50%;
    }

    &__text{
        font-size: .7rem;
        font-weight: 600;
        line-height: 1.6;
        color: $very-dark-grayish-blue;
    }


    &__name{
        font-family: $font-family1;
        font-size: .8rem;
        font-weight: 700;
        margin-bottom: .4rem;
    }

    &__profile{
        font-size: .6rem;
        color: $grayish-blue;
        font-weight: 600;
    }
}